.m-pokemon-view{
    background-color: var(--color-blue);
    padding: 1.5rem 3rem;;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 25rem;
    flex-wrap: wrap;
    align-content: space-between;
}