.a-pokemons-cards {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
}

.a-pokemons-cards__mask {
  background-color: var(--color-blue);
  height: 7rem;
  width: 7rem;
  border-radius: 1rem;
  margin: 0 2rem;
}
